* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}
body {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
}
#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app {
  display: grid;
  align-items: center;
  width: 95%;
  height: 100%;
  grid-template-columns: 1fr 2fr;
  column-gap: 60px;

  padding: 10px;

  background-color: hsl(0, 0%, 100%);
}

/* side bar */

.side-bar {
  background-image: url(./assets/images/bg-sidebar-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  object-position: center;
  height: 95%;

  display: flex;
  flex-direction: column;
  padding: 30px;
}

.step-div {
  display: flex;
  gap: 10px;
  margin: 5px;
  margin-bottom: 20px;
  cursor: pointer;
  text-transform: uppercase;
}

.step-number-div {
  border: 1px solid hsl(229, 24%, 87%);
  padding: 12px;
  width: 5px;
  height: 5px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.step-number {
  align-self: center;
  color: hsl(229, 24%, 87%);
}

.step-number.active,
.step-number-div.active {
  background-color: hsl(206, 94%, 87%);
  color: hsl(213, 96%, 18%);
}

.step-num-text {
  font-size: 10px;
  color: hsl(231, 11%, 63%);
  letter-spacing: 0.75px;
}
.step-title {
  font-size: 10px;
  font-weight: 500;
  color: white;
  letter-spacing: 0.75px;
}

/* MAIN */
.main {
  padding-block: 30px;
  width: 70%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: #fff;
}

/* PERSONAL INFO*/
.personalInfo-container,
.selectPlan-container,
.addOn-container,
.summary-container,
.thankYou-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
}
.personalInfo-title,
.selectPlan-title,
.addOn-title,
.summary-title,
.thankYou-title {
  color: hsl(213, 96%, 18%);
}
.personalInfo-text,
.selectPlan-text,
.addOn-title-text,
.summary-text,
.thankYou-text {
  color: hsl(231, 11%, 63%);
  font-size: 12px;
  margin-top: 8px;
}

.personalInfo-Form {
  /* height: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin-top: 30px;
}
.personalInfo-label {
  font-size: 12px;
  color: hsl(213, 96%, 18%);
}

.personalInfo-input {
  padding: 12px;
  border-radius: 5px;
  /* border: 1px solid hsl(229, 24%, 87%); */
  margin-top: 8px;
  margin-bottom: 15px;
  font-size: 12px;
}
.personalInfo-input:focus {
  outline-color: hsl(243, 100%, 62%);
}
.personalInfo-label.error {
  align-self: flex-end;
}
/* SELECT PLAN */

.plan-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  height: 50%;
}

.plan-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid hsl(229, 24%, 87%);
  background-color: hsl(231, 100%, 99%);
  border-radius: 3px;
  padding: 15px;
  padding-bottom: 20px;
  cursor: pointer;
  height: 100%;
}
.plan-card:hover {
  scale: 1.1;
  border: 2px solid hsl(243, 100%, 62%);
}
.plan-card:active {
  border: 0.5px solid hsl(243, 100%, 62%);
}
.plan-image {
  width: 30%;
  padding-bottom: 30px;
}
.plan-title {
  font-weight: 500;
  font-size: 18px;
  color: hsl(213, 96%, 18%);
  margin-bottom: 5px;
}
.plan-price {
  font-size: 12px;
  color: hsl(231, 11%, 63%);
}
.plan-type-div {
  background-color: hsl(217, 100%, 97%);
  padding: 6px;
  border-radius: 4px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.plan-type {
  font-weight: 600;
  color: hsl(213, 96%, 18%);
}
.plan-year-free {
  font-size: 11px;
  margin-top: 5px;
  color: hsl(213, 96%, 18%);
  margin-bottom: 8px;
}

/* ADD ON */

.addOns-div {
  display: flex;
  flex-direction: column;
  gap: 18px;

  margin-top: 30px;
}
.addOn-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 14px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1.25px solid hsl(229, 24%, 87%);
  border-radius: 4px;
}
.addOn-check {
  display: flex;
  gap: 15px;
  cursor: pointer;
}
.addOn-text-title {
  font-weight: 500;
  font-size: 14px;
  color: hsl(213, 96%, 18%);
}
.addOn-text-desc {
  font-size: 12px;
  margin-top: 4px;
  color: hsl(231, 11%, 63%);
}
.addOn-price {
  font-size: 12px;
  font-weight: 500;
  color: hsl(243, 100%, 62%);
}

/* SUMMARY  */
.cart-details {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.cart-plan-addOn {
  display: flex;
  flex-direction: column;
  background-color: hsl(217, 100%, 97%);
  padding: 20px;
  border-radius: 5px;
}
.cart-plan-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid hsl(229, 24%, 87%);
}
.cart-plan-type,
.cart-plan-price {
  font-weight: 600;
  color: hsl(213, 96%, 18%);
}
.cart-plan-change {
  font-weight: 100;
  color: hsl(231, 11%, 63%);
  text-decoration: underline;
  font-size: 12px;
  cursor: pointer;
}
.cart-addOn {
  display: flex;
  justify-content: space-between;
  color: hsl(231, 11%, 63%);
  margin-top: 15px;
}
.cart-addOn-price {
  color: hsl(213, 96%, 18%);
  font-size: 12px;
  font-weight: 500;
}
.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  width: 90%;
  margin-top: 20px;
  color: hsl(231, 11%, 63%);
}
.cart-total-price {
  color: hsl(243, 100%, 62%);
  font-weight: 700;
}

/* THANK YOU */
.thankYou-container,
.thankYou-title-div {
  justify-content: center;
  align-items: center;
}
.thankYou-title-div {
  display: flex;
  flex-direction: column;
}
.thankYou-img {
  width: 60px;
  margin-bottom: 25px;
}
.thankYou-text {
  font-size: 16px;
  text-align: center;
  line-height: 140%;
}

/* BUTTONS */
.btn-div {
  display: flex;
  margin-top: 30px;
  justify-content: flex-end;
  align-self: center;
  width: 90%;
}
.btn-div.plus {
  justify-content: space-between;
}

.btn-goBack {
  background-color: transparent;
  border: transparent;
  color: hsl(231, 11%, 63%);
}
.btn-goBack:hover {
  cursor: pointer;
  color: hsl(213, 96%, 18%);
  font-weight: 500;
}
.btn-next,
.btn-confirm {
  border: transparent;
  padding: 10px 20px;
  border-radius: 5px;

  color: white;
}
.btn-next {
  background-color: hsl(213, 96%, 18%);
}

.btn-next:hover,
.btn-confirm:hover {
  opacity: 0.8;
  cursor: pointer;
}
.btn-confirm {
  background-color: hsl(243, 100%, 62%);
}

.toggle {
  background-color: hsl(213, 96%, 18%);
  height: 15px;
  width: 30px;
  border-radius: 30px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  margin: 9px;
  cursor: pointer;
}

.toggle-left {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 10px;
  margin: 3px;
  transition: 0.45s;
}
.toggle-right {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 10px;
  margin: 3px 0px 3px 16px;
  transition: 0.45s;
}

/* MEDIA QUERIES */
@media screen and (max-width: 992px) {
  .app {
    width: 100%;
  }
}

@media screen and (max-width: 910px) {
  .main {
    padding-block: 20px;
    width: 80%;
  }
}

@media screen and (max-width: 710px) {
  .main {
    padding-block: 18px;
    width: 100%;
  }
  .app {
    column-gap: 0px;
    padding: 20px;
  }
}

@media screen and (max-width: 676px) {
  #root {
    height: 0%;
  }
  .app {
    height: 0%;
    background-color: hsl(217, 100%, 97%);
    display: flex;
    flex-direction: column;
    background-image: url(./assets/images/bg-sidebar-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    object-position: right;
  }
  .side-bar {
    width: 100%;
    background-image: none;
    height: 5%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    padding-bottom: 0;
  }
  .side-Texts {
    display: none;
  }
  .main {
    width: 100%;
    padding: 20px;
    margin-bottom: 70px;
    border-radius: 10px;
    box-shadow: -8px 25px 36px 11px rgba(0, 0, 0, 0.24);
  }
  .personalInfo-container,
  .selectPlan-container,
  .addOn-container,
  .summary-container,
  .thankYou-container {
  }
  .personalInfo-text,
  .selectPlan-text,
  .addOn-title-text,
  .summary-text,
  .thankYou-text {
    font-size: 16px;
  }
  .plan-cards {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .plan-texts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
  }
  .plan-title {
    font-size: 22px;
  }
  .plan-price {
    font-size: 18px;
  }
  .plan-year-free {
    font-size: 16px;
  }
  .plan-image {
    width: 50px;
    padding-bottom: 10px;
  }

  .plan-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    border-radius: 13px;
    padding: 15px 18px;
    margin-bottom: 15px;
  }
  .thankYou-text {
    font-size: 14px;
  }
  .personalInfo-label,
  .personalInfo-label.error {
    font-size: 14px;
  }
}

@media screen and (max-width: 375px) {
  body {
    min-width: 374px;
  }
  .side-bar {
    padding-bottom: 0;
  }
}
